@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,500i,600,600i,700,800|Open+Sans:300,400,400i,600,600i,700,800');
@charset "utf-8";
html,
body {
    overflow-x: hidden;
}

body {
    background: #fff;
    margin: 0;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

li {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    color: #777777;
}

a:hover {
    text-decoration: none;
}

h2 {
    font-size: 41px;
    color: #070707;
    font-weight: 600;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn_round {
    font-size: 17px;
    font-weight: 500;
    border-radius: 50px;
    border: 1px solid;
    background-color: transparent;
    padding: 8px 37px;
    border-color: #00aeef;
    color: #fff;
    text-shadow: none;
    padding: 9px 34px;
    transition: all .3s ease-in-out;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    background: #00aeef;
    transition: 0.5s ease-in-out;
    display: inline-block;
}

.btn_round:hover {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.btn_round:focus {
    background: #00aeef;
    border-color: #00aeef;
}

header.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    padding: 15px 0;
}

.header .navbar-header {
    float: none;
    text-align: center;
}

.header .navbar-brand {
    float: none;
    height: auto;
    padding: 0;
    font-size: 0;
    line-height: 0;
}

.header .navbar-brand>img {
    display: block;
    margin: 0 auto;
}

header.darkHeader {
    position: fixed;
    width: 100%;
    background: #ffffffd9;
    box-shadow: 0px 1px 1px #f1f1f1;
    z-index: 999;
}

.navbar {
    margin: 0;
}

.header .navbar-default {
    background-color: transparent;
    border-color: #e7e7e7;
    border: 0;
}

.rite_me {
    float: right;
    margin-top: 5px;
}

.header .inner_menu {
    display: inline-block;
}

.header .navbar-nav {
    float: none;
    margin-top: 0;
    text-align: right;
    display: block;
}

.header .navbar-nav>li {
    display: inline-block;
    float: none;
}

.header .navbar-default .navbar-nav>li>a {
    color: #3d3d3d;
    font-family: 'Open Sans', sans-serif;
    transition: all .3s ease-in-out;
    font-weight: 500;
    font-size: 15px;
}

.header .navbar-default .navbar-nav>.active>a,
.header .navbar-default .navbar-nav>li>a:focus,
.header .navbar-default .navbar-nav>li>a:hover {
    background-color: transparent;
    color: #0084b6;
}

.reg {
    text-align: right;
    display: inline-block;
}

.reg a {
    display: inline-block;
    padding: 9px 34px;
    border: 2px solid #3d3d3d;
    border-radius: 50px;
    color: #3d3d3d;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
    transition: all .3s ease-in-out;
}

.reg a:hover {
    background-color: #00aeef;
    border-color: #00aeef;
    color: #fff;
}

.reg .fa {
    margin-right: 5px;
}

.speaker_box img {
    border-radius: 50%;
}

.banner_area {
    position: relative;
    background: url('../images/bg-blue.jpg') no-repeat;
    background-size: cover;
    padding: 100px 0 20px;
    height: 100%;
    min-height: 850px;
    background-position: bottom center;
    z-index: 2;
}

.banner_area:after {
    content: '';
    position: absolute;
    bottom: -148px;
    left: 0;
    width: 100%;
    background: url('../images/inner-bg.png') no-repeat;
    height: 500px;
    background-position: 50% 100%;
    z-index: -1;
    background-size: 100%;
}

.bear_area {
    padding: 40px 0 0;
    position: relative;
}

.animate_area {
    text-align: left;
}

.animate_area img.b_bear {
    animation-name: jump;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-delay: 1s;
}

@keyframes jump {
    0%,
    50%,
    to {
        transform: translateY(-8px);
    }
    25%,
    75% {
        transform: translateY(0px);
    }
}

.animate_area img.r_bear {
    animation-name: jumpR;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-delay: 1s;
}

@keyframes jumpR {
    0%,
    50%,
    to {
        transform: translateY(-12px);
    }
    25%,
    75% {
        transform: translateY(0px);
    }
}

.duckbear {
    padding-top: 140px;
    display: inline-block;
    animation-name: duckR;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-timing-function: linear;
    position: absolute;
    bottom: -70px;
}

@keyframes duckR {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.duckbear img {
    animation-name: duck;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-timing-function: linear;
}

@keyframes duck {
    0% {
        transform: translateX(-150%) rotate(0deg);
    }
    100% {
        transform: translateX(850%);
    }
}

.for_ball {
    position: absolute;
    width: 100%;
    top: 45px;
    left: 115px;
    z-index: 9;
}

.img_ball {
    animation-name: ball;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-delay: 1s;
}

@keyframes ball {
    0%,
    to {
        transform: translate(0px, 0px)
    }
    25% {
        transform: translate(100px, -85px)
    }
    60% {
        transform: translate(185px, 5px)
    }
    90% {
        transform: translate(70px, -100px)
    }
}

#clouds {
    padding: 30px 0 0;
    width: 100%;
    position: absolute;
}

.cloud {
    width: 200px;
    height: 60px;
    background: #e5f4fb;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: relative;
}

.cloud:before,
.cloud:after {
    content: '';
    position: absolute;
    background: #e5f4fb;
    width: 100px;
    height: 80px;
    position: absolute;
    top: -15px;
    left: 10px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 120px;
    height: 120px;
    top: -55px;
    left: auto;
    right: 15px;
}

.x1 {
    -webkit-animation: moveclouds 40s linear infinite;
    -moz-animation: moveclouds 15s linear infinite;
    -o-animation: moveclouds 15s linear infinite;
}

.x2 {
    left: 200px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6;
    -webkit-animation: moveclouds 35s linear infinite;
    -moz-animation: moveclouds 25s linear infinite;
    -o-animation: moveclouds 25s linear infinite;
}

.x3 {
    left: -250px;
    top: -200px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    -webkit-animation: moveclouds 27s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}

.x4 {
    left: 470px;
    top: -250px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.75;
    -webkit-animation: moveclouds 30s linear infinite;
    -moz-animation: moveclouds 18s linear infinite;
    -o-animation: moveclouds 18s linear infinite;
}

.x5 {
    left: -150px;
    top: -150px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    -webkit-animation: moveclouds 18s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}

@-moz-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}

@-o-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}

.ball_inner {
    width: 66%;
    margin: 0 auto;
}

.ribbon_area {
    padding: 45px 0 10px;
}

.inner_content {
    text-align: center;
    padding: 0 50px;
}

.inner_content h1 {
    font-size: 46px;
    margin-top: 0;
    color: #333;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.inner_content p {
    font-size: 16px;
    color: #3d3d3d;
    font-weight: 600;
    margin-bottom: 20px;
}

.about-section {
    padding: 150px 0 120px;
    position: relative;
}

.about-section .container-fluid {
    padding: 0;
}

.about_text h3 {
    color: #6f6f6f;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.about_text h2 {
    font-size: 38px;
    font-family: 'Open Sans', sans-serif;
    color: #252525;
    line-height: 50px;
    padding-bottom: 13px;
}

.about_text p {
    font-size: 15px;
    color: #5d5d5d;
    line-height: 30px;
    padding-bottom: 20px;
    font-weight: 500;
}

.about_text {
    padding-top: 136px;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    min-height: 586px;
}

.about-right {
    padding-top: 83px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    min-height: 536px;
}

.about_text a.btn_round {
    padding: 7px 30px;
}

.sponsors_sec {
    background-image: url(../images/sponsors-bg.png);
    background-repeat: no-repeat;
    padding: 0;
    position: relative;
    margin-bottom: 0;
    background-size: cover;
    height: auto;
}

.sponsors_sec .container-fluid {
    padding: 0;
}

.no_pad {
    padding: 0;
}

.grey_img {
    min-width: 345px;
    width: 100%;
}

.gold_img {
    min-width: 267px;
    width: 100%;
}

.content_div {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0;
    position: relative;
}

.content_div:after {
    content: '';
    position: absolute;
    left: 130px;
    bottom: -212px;
    background: url('../images/bear_brown.png') no-repeat;
    width: 400px;
    height: 246px;
    background-size: 100%100%;
    background-position: 100%;
    z-index: 2;
    animation-name: bearMove;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease;
    z-index: 9;
}

@keyframes bearMove {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: rotate(0deg);
    }
}

.content_div h2 {
    color: #fff;
    font-size: 41px;
    font-weight: 600;
    margin-bottom: 25px;
}

.content_div h2 span {
    font-weight: 300;
}

.content_div p {
    color: #fff;
    font-size: 15px;
    line-height: 24px;
    padding: 0 20px 0 0;
}

.content_div .btn_round {
    margin-top: 25px;
    position: relative;
    z-index: 3;
}

.bg_greyclr {
    background-color: #f0f0f0;
    position: relative;
}

.divmain_logo {
    position: relative;
    padding: 15px;
    min-height: 551px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.divmain_logo:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.gold_l {
    background: url('../images/gold_bg.jpg') no-repeat;
    background-size: 100% 100%;
    background-position: 100%;
}

.silver_l {
    background: url('../images/silver_bg.jpg') no-repeat;
    background-size: 100% 100%;
    background-position: 100%;
}

.silver_l .col-md-6.col-sm-6.col-xs-6 {
    padding: 0;
}

.divmain_logo ul {
    position: relative;
    z-index: 2;
    text-align: center;
}

.divmain_logo ul li {
    width: 80%;
    display: table;
    margin: 0 auto 10px;
}

.divmain_logo .sp_main {
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.divmain_logo ul.list_same {
    padding: 5px;
}

.divmain_logo ul.list_same li {
    width: 100%;
    margin: 0 auto 13.8px;
}

.divmain_logo ul.list_same li img {
    height: 35px;
}

.divmain_logo ul.list_same:nth-child(1) li:nth-last-child(1) img {
    width: auto;
}

.speaker_sec {
    padding: 20px 0 10px;
    position: relative;
}

.for_bear:before {
    content: '';
    position: absolute;
    top: -230px;
    right: 0;
    width: 35%;
    height: 55%;
    background: url(../images/speaker_logo.png);
    background-position: right;
    background-repeat: no-repeat;
    z-index: 1;
    background-size: 60%;
}

.bg_greyclr:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 30px;
    background: url('../images/eyes.png');
    background-position: center;
}

section.speaker_sec.for_bear {
    padding-bottom: 50px;
    position: relative;
}

.for_bear:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 335px;
    height: 200px;
    background: url('../images/green_bear.png') no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 99;
    animation-name: bearMove;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease;
}

.head_speaker {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 70px;
}

.head_speaker h2 {
    font-size: 41px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #252525;
}

.head_speaker p {
    font-size: 13px;
    color: #333;
    font-weight: 600;
    line-height: 26px;
}

.speaker_box {
    position: relative;
    z-index: 9;
    transition: 600s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.speaker_box:hover {
    top: -10px !important;
    transition: 1600s;
}

.speak_content {
    position: absolute;
    bottom: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: #fff;
    z-index: 9;
    transition: 400ms;
}

.speaker_box:hover .speak_content {
    bottom: 130px;
}

.speak_content a.title_head {
    background-color: #00aeef;
    padding: 8px 18px;
    display: inline-block;
    border-radius: 50px;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    position: relative;
    z-index: 9;
}

.speak_content a.title_head:hover {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.speak_content h4 {
    font-size: 15px;
    margin: 0;
    margin-top: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.speak_content h5 {
    margin: 0;
    margin-top: 4px;
    margin-bottom: 10px;
    font-size: 11px;
}

.social_box ul li a {
    width: 28px;
    height: 28px;
    background-color: #000;
    border-radius: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social_box ul li a.linkedin {
    background-color: #1c74bc;
}

.social_box ul li a.tweet {
    background-color: #27aae1;
}

.social_box ul li a.git {
    background-color: #1e75bc;
}

a.showBtn.btn_round {
    display: none;
}

.newsletter_sec {
    padding: 60px 0;
    background: url('../images/news_BG.jpg') no-repeat;
    background-size: cover;
    position: relative;
    z-index: 9;
}

.newsletter_sec:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -45px;
    width: 310px;
    height: 262px;
    background: url('../images/pink_bear.png') no-repeat;
    background-size: cover;
    background-position: center;
    animation-name: bearMove;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease;
}

.subscribe_box {
    text-align: center;
    background-color: #ecf4f9;
    padding: 20px 20px 40px;
    margin: 0 40px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.42);
}

.subscribe_box h2 {
    font-weight: 500;
}

.subscribe_box p {
    font-size: 20px;
    font-weight: 500;
    margin: 15px 0;
    color: #070707;
}

.form_area {
    margin-top: 25px;
}

.form_area input.form-control {
    width: 66%;
    display: inline-block;
    height: 46px;
    border-radius: 50px;
    border: 1px solid transparent;
    padding-left: 25px;
    box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.04);
}

.form_area input.form-control:focus {
    border-color: #000;
}

.form_area .btnsubs {
    margin-left: 15px;
    background-color: #0e76bc;
    border: 0;
    padding: 10px 37px;
}

.form_area .btnsubs:hover {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.video_sec {
    padding-bottom: 79px;
}

.heading_area {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.heading_area h2 {
    font-size: 40px;
    color: #0e76bc;
    margin-bottom: 25px;
    font-weight: 500;
}

.heading_area p {
    font-size: 13px;
    color: #333;
    padding: 0 50px 20px;
    font-weight: 600;
    line-height: 24px;
}

.video_box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.video_box:hover {
    box-shadow: 10px 10px 10px 0px #d5e6f3;
    top: -5px
}

.play_box {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
    padding: 10px;
    background-color: rgba(14, 118, 188, 0.72);
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    border-bottom-right-radius: 10px;
    transition: all .3s ease-in-out;
}

.play_box img {
    transition: all .3s ease-in-out;
}

.play_box img:hover {
    opacity: .8;
}

.play_box p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 0;
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.video_box .for_wid {
    width: 100%;
}

.cmsn {
    text-align: center;
    font-size: 56px;
}

.socialArea {
    position: relative;
    padding: 112px 0 204px;
    background: url('../images/socialBG.jpg') bottom no-repeat;
    background-size: cover;
}

.social_area {
    text-align: center;
    position: relative;
}

.social_area:after,
.social_area:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 175px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100%;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease;
}

.social_area:before {
    background-image: url('../images/likesbig.png');
    bottom: -90px;
    animation-name: likes;
}

.social_area:after {
    background-image: url('../images/heartss.png');
    bottom: -90px;
    animation-name: hearts;
}

@keyframes likes {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes hearts {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: rotate(0deg);
    }
}

.social_area h2 {
    font-size: 44px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #3d3d3d;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.social_area p {
    font-size: 15px;
    font-weight: 500;
    padding: 0 70px;
    line-height: 24px;
    margin-bottom: 40px;
}

.social_ic {
    padding: 50px 10px 80px;
    border: 5px solid rgba(0, 0, 0, 0.21176470588235294);
    border-radius: 5px;
    margin: 0 50px;
}

.social_ic ul li {
    margin: 0 15px;
}

footer.footer {
    padding: 60px 0 0;
}

.footerlogo {
    margin-right: 50px;
}

.footerlogo img {
    margin-bottom: 20px;
}

.footerlogo p,
.footersocial p {
    font-size: 14px;
    color: #080808;
    margin-bottom: 15px;
    line-height: 24px;
    font-weight: 500;
}

.same_style h6 {
    font-size: 20px;
    color: #080808;
    text-transform: uppercase;
    font-weight: 700;
}

.footersocial h6 {}

.footernav.same_style ul li {
    display: block;
    line-height: 30px;
}

.footernav.same_style ul li a {
    font-size: 14px;
    color: #080808;
    line-height: 24px;
    font-weight: 500;
    padding: 10px 0;
    display: block;
    transition: all .3s ease-in-out;
}

.footernav.same_style ul li a:hover {
    color: #00aeef;
    padding-left: 5px;
}

.footersocial ul li a i {
    display: flex;
    width: 34px;
    height: 34px;
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 0 3px;
    transition: all .3s ease-in-out;
}

.footersocial ul li a i:hover {
    opacity: .8;
}

.footersocial .inner_area {
    margin-top: 25px;
}

.inner_area ul li a i.fa-facebook-f {
    background-color: #3b5a9a;
}

.inner_area ul li a i.fa-google-plus {
    background-color: #d54936;
}

.inner_area ul li a i.fa-pinterest {
    background-color: #cd2129;
}

.inner_area ul li a i.fa-twitter {
    background-color: #cd2129;
}

.inner_area ul li a i.fa-instagram {
    background-color: #2f689b;
}

.copyright {
    overflow: hidden;
    padding: 15px 0;
    border-top: 1px solid #ccc;
    margin-top: 30px;
}

.copyright p,
.copyright ul li a {
    margin-bottom: 0;
    font-size: 14px;
    color: #080808;
    font-weight: 500;
    display: block;
    transition: all .3s ease-in-out;
}

.copyright ul li a:hover {
    color: #00aeef;
}

.copyright ul li {
    margin: 0 5px;
}

.scrollup {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #00aeef;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.32);
}

.for_desk {
    display: table;
    margin: 0 auto;
}

.for_mob {
    display: none;
}

#headline {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 60px;
    color: #3d3d3d;
    letter-spacing: 2.5px;
}

.ribbon_area {
    text-align: center;
}

.ribbon {
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    background: url(../images/ribbon.png) top center no-repeat;
    height: 150px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 3px 3px #007ead;
    margin-top: 10px;
}

.ribbon i {
    font-style: normal;
    font-weight: 700;
}

#headline1 .char1 {
    font-weight: 700;
}

#headline1 .char2 {
    font-weight: 600;
}

#headline1 .char15 {
    font-weight: 600;
}

#headline1 .char16 {
    font-weight: 600;
}

#headline1 .char17 {
    font-weight: 600;
}

#headline1 .char18 {
    font-weight: 600;
}

@media only screen and (min-width:300px) and (max-width:767px) {
    .for_mob {
        display: table;
        margin: 0 auto;
    }
    .for_desk {
        display: none;
    }
    header.header {
        padding: 20px 0 0;
        position: absolute !important;
    }
    .speaker_box img {
        border-radius: 50%;
    }
    .header .navbar-default .navbar-collapse,
    .header .navbar-default .navbar-form {
        border-color: transparent;
        margin: 0px auto;
        width: 90%;
        background-color: transparent;
        padding: 10px 10px;
        float: right;
    }
    .header .navbar-nav {
        float: none;
        margin-top: 40px;
        text-align: left;
        display: block;
        width: 100%;
        margin: 0;
        background-color: #fff;
    }
    .header .navbar-nav>li {
        display: block;
        float: none;
    }
    .logo_area {
        margin-bottom: 10px;
    }
    .header .navbar-default .navbar-toggle {
        border-color: #00aeef;
        background-color: #00aeef;
    }
    .header .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .header .navbar-header {
        float: right;
        text-align: center;
        position: relative;
        z-index: 9;
    }
    .header .navbar-brand {
        float: none;
        height: auto;
    }
    .header .navbar-brand>img {
        display: block;
        margin: 0 auto;
        width: 80%;
    }
    .rite_me {
        float: none;
        margin-top: 5px;
        position: relative;
    }
    .header .inner_menu {
        display: block;
    }
    .reg {
        text-align: left;
        display: inline-block;
        margin: 10px 0;
        position: absolute;
        top: 0;
        left: 0;
    }
    #clouds {
        padding: 0;
        top: 130px;
    }
    .banner_area {
        padding: 150px 0 20em;
        height: auto;
        background: url(../images/bg-mob.jpg);
        min-height: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100%;
        overflow: hidden;
        position: relative;
    }
    .banner_area:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 200px;
        background: url(../images/bg_btmmob.png) no-repeat;
        background-size: cover;
        background-position: 100% 100%;
    }
    #headline {
        font-size: 26px;
    }
    .ribbon {
        font-size: 28px;
        height: 80px;
        margin-top: 5px;
        background-size: 100% 99%;
        background-position: 100% 100%;
        line-height: 47px;
    }
    .banner_area:after {
        display: none;
    }
    .ribbon_area {
        padding: 45px 0 30px;
    }
    .ribbon_area img {
        width: 100%;
    }
    .inner_content {
        text-align: center;
        padding: 0;
    }
    .inner_content h1 {
        font-size: 28px;
    }
    .inner_content h2 {
        font-size: 22px;
        font-weight: 600;
    }
    .inner_content p {
        font-size: 13px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .for_ball {
        top: 140px;
        left: 30px;
        width: 100%;
    }
    .ball_inner {
        width: 23%;
        margin: 0;
        margin-left: 50px;
    }
    .for_ball img {
        width: 100%;
    }
    .for_ball .ball_inner img {
        width: 24%;
    }
    .duckbear {
        padding-top: 0;
        bottom: 10px;
    }
    .duckbear img {
        width: 40%;
    }
    @keyframes duck {
        0% {
            transform: translateX(-250%) rotate(0deg);
        }
        100% {
            transform: translateX(700%);
        }
    }
    @keyframes ball {
        0%,
        to {
            transform: translate(0px, 0px)
        }
        25% {
            transform: translate(35px, -35px)
        }
        60% {
            transform: translate(65px, -5px)
        }
        90% {
            transform: translate(30px, -35px)
        }
    }
    .about-section {
        padding: 30px 0;
        text-align: center;
    }
    .about-section .container-fluid {
        padding: 0;
    }
    .about_text {
        padding-top: 0;
        padding: 0 10px;
        min-height: 417px;
    }
    .about_text h3 {
        display: block;
        width: 100%;
        font-size: 18px;
        width: 100%;
    }
    .about_text h2 {
        font-size: 22px;
        line-height: 30px;
        padding-bottom: 10px;
        margin-top: 5px;
        font-weight: 500;
        width: 100%;
    }
    .about_text p {
        font-size: 14px;
        line-height: 24px;
        padding-bottom: 20px;
        font-weight: 600;
    }
    .btn_round {
        margin: 0 auto;
    }
    .about-right {
        padding-top: 0;
        min-height: 290px;
    }
    .about-right img {
        width: 100%;
    }
    .sponsors_sec {
        padding: 0;
        margin-bottom: 0;
        height: auto;
        padding-bottom: 80px;
        background-color: #0e76bc;
        background-position: center;
    }
    .content_div {
        padding: 40px 0 20px;
        position: relative;
        text-align: center;
    }
    .content_div h2 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 25px;
        display: block;
        width: 100%;
    }
    .content_div p {
        font-size: 15px;
        line-height: 24px;
        padding: 0;
    }
    .content_div .btn_round {
        margin: 10px auto;
    }
    .gold_img {
        width: 90%;
        margin: 0 auto;
        min-width: auto;
    }
    .grey_img {
        width: 90%;
        margin: 0 auto;
        min-width: auto;
    }
    .content_div:after {
        left: 0;
        bottom: -310%;
        width: 100%;
        height: 186px;
        background-size: 55%;
        background-position: center;
    }
    .img_area .no_pad {
        padding: 0 15px;
    }
    a.showBtn.btn_round {
        display: table;
    }
    .speaker_sec {
        padding: 20px 0 10px;
        position: relative;
    }
    section.speaker_sec.for_bear {
        padding-bottom: 110px;
        position: relative;
        padding-top: 0;
    }
    .bg_greyclr {
        background-color: transparent;
    }
    .head_speaker {
        text-align: center;
        margin-bottom: 0;
        padding-top: 30px;
    }
    .head_speaker h2 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 25px;
    }
    .head_speaker p {
        font-size: 13px;
        font-weight: 600;
        line-height: 26px;
    }

    .speak_content {
        bottom: 66px;
        text-align: center;
        width: 80%;
    }
    .bg_greyclr:after {
        content: '';
        position: relative;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
    }
    .for_bear:before {
        content: '';
        position: relative;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
    }
    .for_bear:after {
        left: -60px;
        z-index: 999999;
        bottom: -70px;
        width: 284px;
        height: 170px;
        background-position: left;
    }
    .showBtn.btn_round {
        margin: 0 auto;
        display: table;
        position: relative;
        z-index: 99;
        padding: 10px 60px;
    }
    .grid_last {
        display: none;
    }
    .newsletter_sec {
        padding: 120px 0 130px;
        background-size: 100% 100%;
        margin-bottom: 0;
        background-position: center;
    }
    .subscribe_box {
        text-align: center;
        padding: 40px 20px 40px;
        margin: 0;
    }
    .subscribe_box h2 {
        font-size: 22px;
        font-weight: 600;
    }
    .subscribe_box p {
        font-size: 16px;
        font-weight: 600;
        margin: 15px 0;
    }
    .form_area {
        margin-top: 35px;
    }
    .form_area input.form-control {
        width: 100%;
        display: block;
        padding-left: 25px;
    }
    .form_area .btnsubs {
        margin-left: 0;
        padding: 10px 37px;
        width: 100%;
        margin-top: 20px;
    }
    .newsletter_sec:after {
        right: 0;
        bottom: -20px;
        width: 240px;
        height: 252px;
        background-size: 75%;
        background-position: bottom right;
    }
    .heading_area h2 {
        font-size: 30px;
        color: #0e76bc;
    }
    .heading_area p {
        padding: 0 10px 20px;
    }
    .video_box {
        width: 90%;
        margin: 0 auto 30px;
    }
    .socialArea {
        position: relative;
        padding: 39px 0 110px;
    }
    .social_area h2 {
        font-size: 30px;
    }
    .social_area p {
        font-size: 14px;
        font-weight: 600;
        padding: 0 10px;
    }
    .social_ic {
        padding: 30px 0px 50px;
        margin: 0;
    }
    .social_ic ul li {
        margin: 0px 2px;
        width: 25%;
        display: inline-block;
    }
    .social_ic ul li:nth-child(3) {
        width: 15%;
    }
    .social_ic ul li img {
        width: 100%;
    }
    .social_area:after {
        bottom: -20px;
        left: 0;
        width: 100%;
        height: 64px;
    }
    .footerlogo {
        margin-right: 0px;
    }
    .footernav.same_style {
        margin-top: 35px;
    }
    .footersocial.same_style {
        margin: 25px 0;
    }
    .copyright {
        padding: 15px 0 0;
        margin: 30px 15px;
    }
    .copyright p {
        margin-bottom: 15px;
        line-height: 24px;
    }
    .copyright .text-right {
        text-align: left;
    }
}

@media only screen and (min-width:767px) and (max-width:1023px) {
    .ribbon_area img {
        width: 80%;
        margin: 0 auto;
        display: table;
    }
    .about-section .container-fluid {
        padding: 0 15px;
    }
    .speaker_box img {
        border-radius: 50%;
    }
    .sponsors_sec {
        height: auto;
        padding-bottom: 160px;
    }
    .speaker_box {
        text-align: center;
    }

    .for_bear:before {
        display: none;
    }
    .content_div:after {
        left: -30px;
        right: 0;
        bottom: -747px;
        width: 350px;
        height: 186px;
        background-size: 70%;
    }
    .newsletter_sec {
        padding: 110px 0 140px;
    }
    .newsletter_sec:after {
        right: 0;
        bottom: -105px;
        background-size: 70%;
        background-position: right;
    }
    .footerlogo {
        margin-right: 0;
    }
    .footerlogo img {
        width: 100%;
    }
    .banner_area:after {
        bottom: -42px;
        display: none;
    }
    .about-section {
        padding: 77px 0 99px;
        position: relative;
    }
    .about_text {
        padding-top: 0px;
        display: flex;
        align-items: end;
        justify-content: center;
        flex-direction: column;
        min-height: 345px;
    }
    .banner_area {
        padding: 150px 0 20em;
        height: auto;
        background: url(../images/bg-mob.jpg);
        min-height: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100%;
        overflow: hidden;
        position: relative;
    }
    .banner_area:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 420px;
        background: url(../images/bg_btmmob.png) no-repeat;
        background-size: cover;
        background-position: 100% 100%;
    }
    .for_ball {
        top: 0px;
        left: -100px;
        width: 100%;
    }
    .ball_inner {
        width: 55%;
        margin: 0 auto;
    }
    .for_ball img {
        width: 100%;
    }
    .for_ball .ball_inner img {
        width: 22%;
    }
    .duckbear {
        padding-top: 0;
        bottom: 20px;
    }
    .duckbear img {
        width: 80%;
    }
    @keyframes duck {
        0% {
            transform: translateX(-20%);
        }
        100% {
            transform: translateX(800px);
        }
    }
    @keyframes ball {
        0%,
        to {
            transform: translate(0px, 0px)
        }
        25% {
            transform: translate(60px, -35px)
        }
        60% {
            transform: translate(105px, 5px)
        }
        90% {
            transform: translate(30px, -35px)
        }
    }
    .ribbon_area {
        padding: 85px 0 10px;
        width: 100%;
    }
    #headline {
        font-size: 48px;
        margin-bottom: 15px;
    }
    .ribbon {
        font-size: 46px;
        text-transform: uppercase;
        height: 150px;
        margin-top: 10px;
        width: 100%;
        background-size: 80% 100%;
    }
    .subscribe_box h2 {
        font-size: 35px;
    }
    .subscribe_box p {
        font-size: 16px;
    }
    .social_ic ul li img {
        width: 75%;
    }
    .social_ic ul li {
        margin: 0;
    }
    .copyright p,
    .copyright ul li a {
        font-size: 12px;
    }
    .for_bear:after {
        bottom: -80px;
    }
}

@media only screen and (min-width:1024px) and (max-width:1366px) {
    .about-section {
        padding: 0px 0 100px;
        position: relative;
    }
    .about_text {
        padding-top: 75px;
        min-height: 586px;
    }
    .about-right {
        padding-top: 83px;
        min-height: 536px;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        padding: 0;
    }
    .header .navbar-default .navbar-nav>li>a {
        padding: 10px 12px;
    }
    .banner_area {
        position: relative;
        background: url('../images/bg-blue.jpg') no-repeat;
        background-size: cover;
        padding: 70px 0 20px;
        height: 100%;
        min-height: 900px;
        background-position: bottom center;
        z-index: 2;
        overflow: hidden;
    }
    .ribbon_area {
        padding: 60px 0 10px;
        width: 100%;
    }
    #headline {
        font-size: 48px;
        margin-bottom: 15px;
    }
    .ribbon {
        font-size: 46px;
        background-size: 95% 100%;
        line-height: 86px;
    }
    .bear_area {
        padding: 40px 0 0;
    }
    .for_ball {
        top: 10px;
        left: 65px;
    }
    .banner_area:after {
        bottom: 0px;
        left: 0;
    }
    #clouds,
    .bear_area,
    .duckbear {
        display: block;
    }
    .duckbear {
        bottom: 20px;
        padding-top: 60px;
    }
    .speaker_box img {
        width: 100%;
        border-radius: 50%;
    }
    .gold_img {
        min-width: 221px;
    }
    .grey_img {
        min-width: 286px;
        margin-top: -1px;
    }
    .about_text h2 {
        font-size: 26px;
        line-height: 40px;
        padding-bottom: 13px;
        margin-top: 0;
    }
    #clouds {
        padding: 30px 0 0;
        width: 100%;
        top: 80px;
        right: 0;
        position: absolute;
    }
    .ribbon_area img {
        width: 80%;
        margin: 0 auto;
        display: table;
    }
    .about-section .container-fluid {
        padding: 0px;
    }
    .sponsors_sec {
        height: auto;
    }
    .speaker_box {
        text-align: center;
    }
    .speak_content {
        width: 90%;
        bottom: 66px;
    }
    .for_bear:before {
        display: none;
    }
    .content_div:after {
        left: auto;
        right: 30px;
        bottom: -212px;
        width: 350px;
        height: 186px;
        background-size: 70%;
    }
    .newsletter_sec {
        padding: 60px 0 100px;
    }
    .newsletter_sec:after {
        right: 0;
        bottom: -75px;
        background-size: 70%;
        background-position: right;
    }
    .footerlogo {
        margin-right: 0;
    }
    .footerlogo img {
        width: 100%;
    }
    .subscribe_box {
        margin: 50px 40px;
    }
    .for_bear:after {
        bottom: -90px;
    }
    .social_ic ul li {
        margin: 0 5px;
    }
}

@media only screen and (min-device-width:1024px) and (max-device-width:1366px) and (orientation:landscape) {
    .banner_area:after {
        bottom: 0px;
        left: 0;
        background-size: cover;
        height: 400px;
        background-position: 50% 100%;
        z-index: -1;
        background-size: 100%;
    }
    .ribbon_area {
        padding: 60px 0 10px;
    }
    .for_ball {
        top: 35px;
        left: 90px;
    }
    .content_div:after {
        bottom: -115px;
        width: 350px;
        height: 186px;
        background-size: 80%;
    }
    #headline {
        font-size: 56px;
        margin-bottom: 15px;
    }
    .ribbon {
        font-size: 56px;
        background-size: 95% 100%;
        line-height: 86px;
    }
    .grey_img {
        min-width: 315px;
    }
    .about-section {
        padding: 0px 0 120px;
    }
    .about_text {
        padding-top: 115px;
        min-height: 500px;
    }
    .about-right {
        padding-top: 70px;
        min-height: 536px;
    }
}

@media only screen and (min-width:1367px) and (max-width:1600px) {
    .for_ball {
        top: 93px;
        left: 75px;
    }
    .socialArea {
        padding: 63px 0 142px;
    }
    .about-section {
        padding: 125px 0 91px;
        position: relative;
    }
}

@media screen and (min-width:1600px) {
    .banner_area {
        min-height: 906px;
    }
    .for_ball {
        top: 120px;
        left: 87px;
    }
    .duckbear {
        bottom: -100px;
    }
}

@media screen and (min-width:1920px) {
    @keyframes duckR {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(1deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    .duckbear img {
        animation-name: duck;
        animation-iteration-count: infinite;
        animation-duration: 20s;
        animation-timing-function: linear;
    }
    @keyframes duck {
        0% {
            transform: translateX(-350%) rotate(0deg);
        }
        100% {
            transform: translateX(980%);
        }
    }
}

.sponsor-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
.sponsor-column {
display: flex;
flex-direction: column;
flex-basis: 100%;
flex: 1;
justify-content: flex-start;
}

.sponsor-image {
    height: 75px;
    width: 125px;
    padding: 10px;
}
  
.sponsor-link {
    z-index: 10;
}
  