<footer class="footer">
    <div id="footer-info">
        <div class="footer-section">
            <h1>Contact Us</h1>
            <a href="https://twitter.com/GopherConIL?ref_src=twsrc%5Etfw"><img alt="twitter logo"
                                                                               src="img/twitter_logo.svg"/></a>
            <a href="mailto:info@gophercon.org.il"><img alt="email icon"
                                                        src="img/email_icon.png"/></a>
        </div>
        <!--Remove if statement once we support add to calendar links-->
        {{ if false }}
        <div class="footer-section">
            <h1>Add to Calendar</h1>
            <div id="footer-calendar-links">
                <a class="footer-link" id="google-link" href="">Google</a>
                <a class="footer-link" href="">Outlook</a>
                <a class="footer-link" href="">iCal</a>
            </div>
        </div>
        {{ end }}
        <div class="footer-section">
            <a href="https://go.dev/conduct" target="_blank">
            <h1>Code Of Conduct</h1>
            <div id="footer-coc">
               <img alt="code of conduct" src="img/Go-Logo_Blue.svg"/>
            </div>
            </a>
        </div>
    </div>
    <div id="copyright">
        <p>© 2023 GopherCon Israel</p>
    </div>
</footer>
