<h2 class="section-title reveal">{{ .titles.about }}</h2>

<div class="about-grid">
  <p class="reveal" itemprop="description">GopherCon Israel 2026 will be a live conference.</p>
  <p class="reveal">GopherCon is focused on the Go programming language, nevertheless, the topics
      to be presented relate to many other domains, including: DevOps, cloud
      computing, web programming, hacking and more.</p>
  <p class="reveal">To subscribe to our mailing list, click here:
      <a href="http://eepurl.com/dDcXef" target="_blank">GopherConIL Mailing List</a>.</p>
</div>
