<h2 class="section-title reveal">{{ .titles.location }}</h2>

<p class="reveal" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <span itemprop="streetAddress">{{ .address }}</span>
  <span itemprop="addressLocality">{{ .city }}</span>,
  <span itemprop="addressRegion">{{ .state }}</span>
</p>

<div id="map-canvas" class="location-area reveal" data-address="{{ .address }}, {{ .city }} - {{ .state }}">
  <iframe src="https://www.google.com/maps/embed?pb={{ .placebounds }}" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="Conference location map"></iframe>
</div>
