<nav id="nav">
  <ul class="wrapper">
    {{ range $section := $.Site.Params.Sections }}
      <li class="nav-item">
        <a href="#{{ $section }}" title="{{ index $.Site.Params.Titles $section }}" class="nav-link">
          {{ index $.Site.Params.Titles $section }}
        </a>
      </li>
    {{ end }}
    <li class="nav-item">
      <a href="/2021" target="_blank" title="GopherCon Israel 2020" class="nav-link">
        2021
      </a>
    </li>
    <li class="nav-item">
      <a href="/2020" target="_blank" title="GopherCon Israel 2020" class="nav-link">
        2020
      </a>
    </li>
    <li class="nav-item">
      <a href="/2019" target="_blank" title="GopherCon Israel 2019" class="nav-link">
        2019
      </a>
    </li>
  </ul>
</nav>

<hr>
