<h2 class="section-title">{{ .titles.schedule }}</h2>

<p>2 Workshops For Each Time Slot.</p>
<div class="schedule-tbl">
  <table>
    <thead>
      <tr>
        <th class="schedule-time">Time</th>
        <th class="schedule-slot">Slot</th>
        <th class="schedule-description">Description</th>
      </tr>
    </thead>
    <tbody>
      {{ range $slot := .schedule }}
      <tr>
      <td class="schedule-time">{{ .time }}</td>
      {{ if ne .event nil}}
        <td class="schedule-slot">{{ .event.name }}</td>
        <td class="schedule-description"></td>
      {{ end }}
      {{ range $t := .talk}}
        <td class="schedule-slot">{{ $t.name }}</td>
        <td class="schedule-description">{{ $t.description }}</td>
      {{ end }}
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
