<h2 class="section-title">{{ .titles.schedule }}</h2>

<p>2 Workshops For Each Time Slot.</p>
<div class="schedule-tbl">
  <table>
    <thead>
      <tr>
        <th class="schedule-time">Time</th>
        <th class="schedule-slot">Slot</th>
        <th class="schedule-description">Description</th>
      </tr>
    </thead>
    <tbody>
      {{ range $slot := .schedule }}
      {{ if ne .event nil}}
        <tr>
          <td class="schedule-time">{{ .time }}</td>
          <td class="schedule-slot">{{ .event.name }}</td>
          <td class="schedule-description"></td>
        </tr>
      {{ end }}
      {{ if ne .talk nil}}
        {{ $l := len .talk }}
          <tr>
          <td rowspan={{ $l }} class="schedule-time">{{ .time }}</td>
          <td class="schedule-slot">&nbsp;</td>
          <td class="schedule-description">&nbsp;</td>
          </tr>
          {{ range $t := .talk}}
            <tr>
              <td class="schedule-slot">{{ $t.name }}</td>
              <td class="schedule-description">{{ $t.description }}</td>
            </tr>
          {{ end }}
        {{ end }}
      {{ end }}
    </tbody>
  </table>
</div>
